.aside__h2 {
  flex-grow: 1;
  font-size: clamp(1.2rem, calc(3.5vw + 1rem), 2rem);
  font-weight: 700;
  text-align: center;
  color: #1d457f;
  margin: 0.5rem auto;
}

.aside__img {
  display: block;
  min-width: 5rem;
  max-width: 100%;
  margin: 0.5rem 0rem;
}

.aside__p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1rem 0rem;
  text-align: justify;
  text-justify: auto;
}
@media only screen and (max-width: 451px) {
  .aside__p {
    margin: 0.5rem 0rem;
  }
}

.aside__link {
  position: relative;
  display: block;
  font-weight: 700;
  color: #3b83ba;
  margin: 0.5rem 0rem;
  text-align: center;
}

.aside__btn {
  width: calc(4vw + 12rem);
  height: 2rem;
  padding: 0.25em;
  border-radius: 10px;
  border: 0;
  background: #3b83ba;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}
