.header__flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
@media (max-width: 992px) {
  .header__flexbox {
    justify-content: center;
  }
}

.title_h1 {
  display: inline-block;
  font-weight: 900;
  font-size: calc(5vw + 2rem);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  color: white;
}
@media (max-width: 992px) {
  .title_h1 {
    font-size: calc(5vw + 2rem);
    margin: 0.25rem 1rem 0 0;
    padding: 0rem;
  }
}
@media (max-width: 451px) {
  .title_h1 {
    margin: 0.25rem 0 0 0;
    padding: 0rem;
    font-size: calc(2vw + 2.5rem);
  }
}

.profile__img {
  position: fixed;
  display: block;
  top: 0;
  right: 1vw;
  width: calc(28vw + 2rem);
  height: auto;
}
@media (max-width: 992px) {
  .profile__img {
    display: none;
  }
}
@media screen and (max-width: 451px) {
  .profile__img {
    display: none;
  }
}

.profile__img_small {
  height: 0;
  width: 0;
}
@media (max-width: 992px) {
  .profile__img_small {
    width: auto;
    height: 5.5rem;
    margin: 0.5rem 0rem 0rem 0.5rem;
  }
}
@media (max-width: 451px) {
  .profile__img_small {
    width: auto;
    height: 5.5rem;
    margin: 0.5rem 0rem 0rem 0.5rem;
  }
}
