.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
  min-height: 100vh;
  width: 100%;
}
@media (max-width: 992px) {
  .header__container {
    flex-direction: row;
    gap: 0;
  }
}

.profile__img {
  position: relative;
  display: block;
  top: 0;
  width: clamp(18rem, 32vw, 30rem);
  height: auto;
  margin-right: 8vw;
}
@media (max-width: 992px) {
  .profile__img {
    height: clamp(14rem, 65vh, 40rem);
    width: auto;
    margin-right: 0;
  }
}
@media (max-width: 451px) {
  .profile__img {
    height: clamp(14rem, 100vw, 40rem);
    width: auto;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.header__flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  min-width: 320px;
}
@media (max-width: 992px) {
  .header__flexbox {
    width: 100%;
    margin: 0rem auto;
  }
}

.title__h1 {
  display: inline-block;
  width: 100%;
  font-weight: 900;
  font-size: clamp(5rem, 5vw, 6.5rem);
  text-align: center;
  color: white;
}
@media (max-width: 992px) {
  .title__h1 {
    font-size: clamp(2.5rem, 9vw, 10rem);
  }
}

.title__h2__flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .header__flexbox {
    margin: 0rem auto;
    padding: 0.3rem;
  }
}

.title__h2 {
  display: block;
  color: white;
  text-align: center;
  padding: 0 1rem;
  font-size: clamp(1.2rem, 2.5vw, 5rem);
}
@media (max-width: 451px) {
  .title__h2 {
    font-size: clamp(0.9rem, 1vw, 5rem);
  }
}
