*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  overflow: visible;
  /* outline: solid 1px red; */
}

/* ---------------------------- */

body {
  background-image: linear-gradient(160deg, #1d457f 0%, #00abe1 100%);
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.title_h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: calc(5vw + 2rem);
  margin: 1rem;
  padding: 1rem;
  color: white;

  border: 3px solid #7fff00;
}

.profile__img {
  position: absolute;
  display: block;
  top: 0;
  right: 1vw;
  width: calc(35vw + 2rem);
  height: auto;
}

/* ---------------------------- */

.flexbox__container {
  position: relative;
  display: block;
  margin: 1rem;
  width: 70%;
  height: auto;

  border: 3px solid #7fff00;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(1vh + 0.5rem);
  padding: calc(2vh + 1rem) 0rem;
}

.flexbox__item1 {
  padding: 1rem;
  background: red;
}

.flexbox__item2 {
  padding: 1rem;
  background: green;
}

.flexbox__item3 {
  padding: 1rem;
  background: blue;
}
