.primary_flexbox__container {
  position: relative;
  display: block;
  margin: 0 1rem;
  width: 65%;
  height: auto;
  overflow: hidden;
}
@media (max-width: 900px) {
  .primary_flexbox__container {
    width: 90%;
    margin: 1rem auto;
  }
}

.primary_flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.primary_flexbox__item1 {
  font-size: min(calc(1vw + 0.8rem), 1.3rem);
  font-weight: 400;
  padding: 1.5rem;
  color: #1d457f;
  background: #f0f0f0;
  border-radius: 1rem;
}

.primary_flexbox__h2 {
  flex-grow: 1;
  font-size: min(calc(3.5vw + 1rem), 2rem);
  font-weight: 700;
  color: #1d457f;
  margin: 0.5rem auto;
}
