.secondary_flexbox__container {
  position: relative;
  display: block;
  margin: 1rem;
  width: 65%;
  height: auto;
  overflow: hidden;
}
@media (max-width: 900px) {
  .secondary_flexbox__container {
    width: 90%;
    margin: 1rem auto;
  }
}

.secondary_flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.secondary_flexbox__item1,
.secondary_flexbox__item2 {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1.5rem;
  color: #1d457f;
  border-radius: 1rem;
  background: #f0f0f0;
}

.secondary_flexbox__item1 {
  flex-basis: 40rem;
  flex-grow: 1;
}

.secondary_flexbox__item2 {
  flex-basis: 15rem;
  flex-grow: 2;
}

.secondary_flexbox_header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.secondary_flexbox__h2 {
  flex-grow: 1;
  font-size: min(calc(1.4vw + 1rem), 2rem);
  font-weight: 700;
  color: #1d457f;
  margin: 0.5rem auto;
}

.btn_toggleTourInfo {
  padding: 0.25em;
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  border: 2px solid black;
}
