.tours_container__ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tours_container__li:nth-child(odd) {
  background: #b0cce2;
}

.tours_container__li:nth-child(even) {
  background: #3b83ba;
  color: white;
}

.tours_container__li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.tours__tour_date {
  width: 30%;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  padding: 0.5rem;
}
@media only screen and (max-width: 451px) {
  .tours__tour_date {
    font-size: 0.9rem;
  }
}

.tours_place__flexbox {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.tours_place__city {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  text-align: center;
}
@media only screen and (max-width: 451px) {
  .tours_place__city {
    font-size: 0.9rem;
  }
}

.tours_place__tour_venue {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  flex-grow: 1;
  text-align: right;
}
@media only screen and (max-width: 451px) {
  .tours_place__tour_venue {
    font-size: 0.9rem;
    text-align: center;
  }
}
